* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
    border: none;
}

.list {
    display: flex;
    gap: 20px;
}

.cart {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart img {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 45px;
}

.cart h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.cart>div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cart button {
    padding: 8px 22px;
    background: #FFF0E6;
    color: #D15700;
    font-weight: bold;
    border-radius: 15px;
}

.cart img {
    position: relative;
    top: -5px;
    transition: top ease 0.1s;
}

.cart img:hover {
    top: 0;
}

/* popup */
.popup {
    position: absolute;
    inset: 0;
    background: #00000085;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup__content {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
}

/* popup  end*/

.popup__close {
    position: absolute;
    right: -20px;
    top: 0;
    font-size: 22px;
    color: red;
    cursor: pointer;

}

.texts {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texts name {
    font-size: 20px;

}

.texts button {
    background: #D15700;
    color: #FFF;
    font-size: 18px;
    padding: 8px 22px;
    width: 100px;
    border-radius: 30px;
}

.img {
    width: 70px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .cart {
    padding: 8px 32px;
    border-radius: 30px;
    background-color: tomato;
    color: #fff;
}

.cart-list {
    position: absolute;
    right: 0;
    top: 0;
    width: 450px;
    background: red;
    height: 100vh;
    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    inset: 0;
    height: 100vh;
    background: #00000095;
    display: none;
}

.x {
    position: absolute;
    background: rgb(255, 89, 0);
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    padding: 6px 10px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
}

